# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/data/supermarket_sales.csv')
type(df)

pandas.core.frame.DataFrame

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [5]:
df.sort_values(by='Unit price', ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [6]:
electronic_accessories = df[df['Product line'] == 'Electronic accessories']

залежно від того, яка колонка буде першою, результат буде різним. Варіант, де основна колонка Unit price (тобто показаний рядок з найвищою ціною):

In [7]:
electronic_accessories.sort_values(by=['Unit price', 'Quantity'], ascending=[False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

Варіант, де основна колонка Quantity, тобто показаний рядок з найбільшою кількістю товару і найвищою ціною серед них:

In [8]:
electronic_accessories.sort_values(by=['Quantity', 'Unit price'], ascending=[False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [9]:
df['Rating Category'] = df.Rating.apply(lambda x: 'High' if x>=8 else ('Medium' if x>6 else 'Low'))

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [10]:
rating_counts = df['Rating Category'].value_counts()
rating_counts/rating_counts.sum()

Rating Category
Low       0.341
Medium    0.330
High      0.329
Name: count, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [11]:
time = '11:28'

In [12]:
def get_hour(x):
    return int(x.split(':')[0])

In [13]:
get_hour(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [14]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [15]:
df.Hour.value_counts()

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

Найбільше покупок здійснюють о 19, 13, 15 та 10 годині. Загалом це виглядає логічно, адже 19 - час коли люди йдуть з роботи додому і заходять до дорозі в магазин, з 13 до 15 - обідня перерва і можна вийти купити щось поїсти, 10 ранок і хтось йде в магазин перед роботою або перед справами.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [17]:
avg_total = df.groupby('City')['Total'].mean()
print(avg_total)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [18]:
grouped1 = df.groupby('City')['Total'].agg(['mean', 'min', 'max', 'count'])
print(grouped1)

                 mean      min      max  count
City
Mandalay   319.872506  18.6375  1022.49    332
Naypyitaw  337.099715  10.6785  1042.65    328
Yangon     312.354031  12.6945  1039.29    340

За результатами цих показників складно зробити однозначні висновки, адже, наприклад, у місті Naypyitaw найменша кількість покупок, але при цьому найвище середнє та максимальне значення загальної суми чеку. Тобто, за прибутковістю воно лідирує. А от, Yangon з найбільшою кількістю покупок має найменшу середню суму покупки. Можливо, тут загалом дешевші товари. Можна спробувати завести в Yangon товари трохи вищого цінового сегменту і перевірити реакцію покупців. Щодо Naypyitaw варто попрацювати над збільшенням кількості покупок: розширити асортимент товарів для залучення нових покупців, додати спец пропозиції, карти лояльності тощо. Місто Mandalay має середні показники за всіма значеннями, окрім мінімальної і максимальної вартості покупок. Тому в цілому, можна притримуватись тієї ж стратегії і спробувати також провести маніпуляції з асортиментом товарів: розширити його на нові категорії, додати дорожчі позиції в існуючих категоріях.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [19]:
df.to_csv('supermarket_sales_enriched.csv', index=False)
#для перевірки збереженого
pd.read_csv('supermarket_sales_enriched.csv', nrows=5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,High,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,Low,10